.button {
    -fx-background-color: #ffffff;
    -fx-border-radius: 0px;
    -fx-border-radius: 2px;
    -fx-text-fill: #2d2d2d;
    -fx-font-size: 14px;
    -fx-effect: dropshadow(gaussian, #c4c2bf, 3, 0.1, 0, 5);
}

.text-field {
    -fx-background-color: #ffffff;
    -fx-border-radius: 2px;
}


.menu-bar {
    -fx-background-color: #ffffff;
    -fx-effect: dropshadow(one-pass-box, #333334, 3, 1, 0, 5);
}



.table-view .column-header {
    -fx-background-color: #ffffff;
    -fx-border-color: #626060;
    -fx-border-left: none;
}

.table-view{
    -fx-background-color: #ffffff;
    -fx-border-color: #ffffff;
}

.table-view .column-header-background{
    -fx-background-color: transparent;
}

.table-view .corner {
    -fx-background-color: transparent;
}
.table-view .column-header-background .filler {
    -fx-background-color: transparent;
}